<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div *ngIf="empresa" class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">

                <div class="form-group file-area border">
                    <input #fileImg (change)="cambiarImage($event)" type="file" name="images" id="images" required="required" multiple="multiple" />
                    <div class="file-dummy">

                        <div class="default py-5">
                            <h5 class="text-center card-title text-muted">
                                Agregar Imagen
                            </h5>
                            <p class="text-center card-text fs-2 mb-0">
                                <i class="mdi mdi-plus"></i>
                            </p>
                            <p class="text-center card-text fs-sm">Arrastre la imagen ó dar click aquí</p>
                        </div>

                        <!-- IMG VALIDA -->
                        <div class="success">

                            <div class="d-flex justify-content-center" *ngIf="imgTempP">
                                <div class="mx-auto" style="background-image: url({{imgTempP}});width: 100px; height: auto; min-height: 50px; background-repeat: no-repeat; background-size: cover; background-position: center center;"></div>
                            </div>

                        </div>
                        <!-- IMG VALIDA -->
                    </div>
                </div>

                <div *ngIf="imgTempP" >
                    
                    <select #desc class="form-select mb-3 w-100" aria-label="Default select example">
                        <option value="none" selected>Tipó de imagen</option>
                        <option value="logo">logo</option>
                        <option value="logob">logo 2</option>
                        <option value="ico">icono</option>
                    </select>

                    <div class="d-flex justify-content-between flex-wrap pt-4 gap-2">
                        <button type="button" class="btn btn-info btn-sm" [disabled]="!subirImagen" (click)="subirImg(desc.value)"> Subir </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="imgTempP = ''; fileImg.value = ''"> Eliminar </button>
                    </div>

                </div>
            </div>
        </div>

        <div *ngIf="empresa.logo" class="card">
            <div class="card-body">
                <h3>Logo Principal</h3>
                <div [ngStyle]="{'background': header.background}">
                    <img [src]="empresa.logo | imagen:'logo'" class="mx-auto" alt="" style="max-width: 100%;">
                </div>
            </div>
        </div>

        <div *ngIf="empresa.logob" class="card">
            <div class="card-body">
                <h3>Logo Footer</h3>
                <div [ngStyle]="{'background': header.background}">
                    <img [src]="empresa.logob | imagen:'logo'" class="mx-auto" alt="" style="max-width: 100%;">
                </div>
            </div>
        </div>

        <div *ngIf="empresa.ico" class="card">
            <div class="card-body">
                <h3>Icono</h3>
                <div class="d-flex justify-content-center" [ngStyle]="{'background': header.background}">
                    <img [src]="empresa.ico | imagen:'logo'" class="mx-auto" alt="" style="max-width: 100%;">
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3>Header</h3>
                <div class="py-2" [ngStyle]="{'background': header.background}" >
                    <p class="mb-0 h4 text-center" [ngStyle]="{'color': header.color}">TEXTO</p>
                </div>

                <div class="form-group">
                    <label for="example-color-input" class="">Fondo Header</label>
                    <input #hb class="form-control" type="color" [value]="header.background" id="example-color-input">
                </div>

                <div class="form-group">
                    <label for="example-color-input" class="">Color del texto</label>
                    <input #hc class="form-control" type="color" [value]="header.color" id="example-color-input">
                </div>

                <button type="button" class="btn btn-primary w-100" (click)="changeHeader(hb.value, hc.value)">
                    Actualizar Header
                </button>                

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3>Footer</h3>
                <div class="py-2" [ngStyle]="{'background': footer.background}" >
                    <p class="mb-0 h4 text-center" [ngStyle]="{'color': footer.color}">TEXTO</p>
                </div>
                
                <div class="form-group">
                    <label for="example-color-input" class="">Fondo Footer</label>
                    <input #fb class="form-control" type="color" [value]="footer.background" id="example-color-input">
                </div>

                <div class="form-group">
                    <label for="example-color-input" class="">Color del texto</label>
                    <input #fc class="form-control" type="color" [value]="footer.color" id="example-color-input">
                </div>

                <button type="button" class="btn btn-primary w-100" (click)="changeFooter(fb.value, fc.value)">
                    Actualizar Footer
                </button>  

            </div>
        </div>

    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <!-- <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#preventives" role="tab">Preventivos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#correctives" role="tab">Correctivos</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Settings</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">

                <!-- =================================
                    FORM
                ================================== -->
                <div class="tab-pane active" id="settings" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material" [formGroup]="formUpdate" (ngSubmit)="update()">

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('name')}">
                                <label class="col-md-12"> Nombre o Razón Social </label>
                                <div class="col-md-12">
                                    <input formControlName="name" type="text" placeholder="Johnathan Doe" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('name')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('email')}">
                                <label class="col-md-12"> Email </label>
                                <div class="col-md-12">
                                    <input formControlName="email" type="email" placeholder="jhon@example.com" class="form-control " [ngClass]="{'form-control-danger': validateEditForm('email')}">
                                    <small *ngIf="validateEditForm('email')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>

                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('address')}">
                                <label class="col-md-12"> Dirección </label>
                                <div class="col-md-12">
                                    <input formControlName="address" type="text" placeholder="Dirección" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('address')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('nit')}">
                                <label class="col-md-12"> nit </label>
                                <div class="col-md-12">
                                    <input formControlName="nit" type="text" placeholder="Nit" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('nit')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('codephone')}">
                                <label class="col-md-12"> Codigo Pais </label>
                                <div class="col-md-12">
                                    <input formControlName="codephone" type="number" min="0" placeholder="Dirección" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('codephone')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('phone')}">
                                <label class="col-md-12"> Telefono </label>
                                <div class="col-md-12">
                                    <input formControlName="phone" type="tel" placeholder="Telefono" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('phone')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('whatsapp')}">
                                <label class="col-md-12"> Whatsapp </label>
                                <div class="col-md-12">
                                    <input formControlName="whatsapp" type="tel" placeholder="Telefono" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('whatsapp')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('facebook')}">
                                <label class="col-md-12"> facebook </label>
                                <div class="col-md-12">
                                    <input formControlName="facebook" type="text" placeholder="Facebook" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('facebook')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('instagram')}">
                                <label class="col-md-12"> instagram </label>
                                <div class="col-md-12">
                                    <input formControlName="instagram" type="text" placeholder="Instagram" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('instagram')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('tiktok')}">
                                <label class="col-md-12"> tiktok </label>
                                <div class="col-md-12">
                                    <input formControlName="tiktok" type="text" placeholder="Tiktok" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('tiktok')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('descripcion')}">
                                <label class="col-md-12"> descripcion </label>
                                <div class="col-md-12">
                                    <input formControlName="descripcion" type="text" placeholder="descripcion" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('descripcion')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': validateEditForm('keywords')}">
                                <label class="col-md-12"> keywords </label>
                                <div class="col-md-12">
                                    <input formControlName="keywords" type="text" placeholder="keywords" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('name')}">
                                    <small *ngIf="validateEditForm('keywords')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for=""> Como Funciona </label>
                                <div class="switch">
                                    <label>
                                        <input formControlName="comofunciona"  (change)="cmf.checked = cmf.checked" #cmf type="checkbox"><span class="lever switch-col-purple"></span>
                                        <span *ngIf="cmf.checked">Activo</span>
                                        <span *ngIf="!cmf.checked">Desactivado</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button [disabled]="formSubmmited" type="submit" class="btn btn-success">
                                        <span *ngIf="formSubmmited">Actualizando...</span>
                                        <span *ngIf="!formSubmmited">Actualizar</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- =================================
                    FORM
                ================================== -->

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">Carrusel</h4>

                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Nuevo Carrusel
                </button>

                <!-- NUEVO CARRUSEL FORMULARIO -->
                <div class="collapse mt-3" id="collapseExample">
                    <div class="">
                      
                        <div class="d-flex flex-wrap gap-2mb-3">

                            <!-- IMAGEN -->
                            <div class="flex-fill">
                                <div class="form-group file-area border">
                                    <input #fileImgC (change)="cambiarImageC($event)" type="file" name="images" id="imagesC" required="required" multiple="multiple" />
                                    <div class="file-dummy">
                
                                        <div class="default py-5">
                                            <h5 class="text-center card-title text-muted">
                                                Agregar Imagen
                                            </h5>
                                            <p class="text-center card-text fs-2 mb-0">
                                                <i class="mdi mdi-plus"></i>
                                            </p>
                                            <p class="text-center card-text fs-sm">Arrastre la imagen ó dar click aquí</p>
                                        </div>
                
                                        <!-- IMG VALIDA -->
                                        <div class="success">
                
                                            <div class="d-flex justify-content-center" *ngIf="imgTempC">
                                                <div class="mx-auto" style="background-image: url({{imgTempC}});width: 250px; height: 200px; background-repeat: no-repeat; background-size: contain; background-position: center center;"></div>
                                            </div>
                
                                        </div>
                                        <!-- IMG VALIDA -->
                                    </div>
                                </div>
                
                                <div *ngIf="imgTempC" >                                                                                        
                                    <div class="d-flex justify-content-between flex-wrap pt-4 gap-2">
                                        <button type="button" class="btn btn-danger btn-sm" (click)="imgTempC = ''; fileImgC.value = ''"> Eliminar </button>
                                    </div>                
                                </div>

                            </div>

                            <div class="flex-grow-1 ">
                                <form [formGroup]="carruselForm" (ngSubmit)="createCarrusel()" class="col-12">

                                    <div class="form-group" [ngClass]="{'has-danger': validateEditForm('titulo')}">
                                        <label> TITULO </label>
                                        <div>
                                            <input formControlName="titulo" type="text" placeholder="Titulo" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('titulo')}">
                                            <small *ngIf="validateEditForm('titulo')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                        </div>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-danger': validateEditForm('parrafo')}">
                                        <label> Parrafo </label>
                                        <div>
                                            <input formControlName="parrafo" type="text" placeholder="parrafo" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('parrafo')}">
                                            <small *ngIf="validateEditForm('parrafo')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                        </div>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-danger': validateEditForm('parrafotow')}">
                                        <label> Parrafo 2 </label>
                                        <div>
                                            <input formControlName="parrafotow" type="text" placeholder="parrafotow" class="form-control form-control-line" [ngClass]="{'form-control-danger': validateEditForm('parrafotow')}">
                                            <small *ngIf="validateEditForm('parrafotow')" class="form-control-feedback animated fadeIn">Este campo es obligatorio</small>
                                        </div>
                                    </div>
                                    

                                    <div class="form-group">
                                        <label for="fondiCarrusel" class="">Fondo del carrusel</label>
                                        <input formControlName="background"  #fc class="form-control" type="color" id="fondiCarrusel">
                                    </div>

                                    <div class="w-100 mb-3">
                                        <div class="switch">
                                            <label>
                                                <input formControlName="status"  (change)="ac.checked = ac.checked" #ac type="checkbox"><span class="lever switch-col-purple"></span>
                                                <span *ngIf="ac.checked">Activo</span>
                                                <span *ngIf="!ac.checked">Desactivado</span>
                                            </label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success">
                                        <span >Crear</span>
                                    </button>

                                </form>


                            </div>

                        </div>

                        
                    </div>
                </div>

                <hr>

                        <!-- LISTA DE CARRUSELES -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Titulo</th>
                                        <th scope="col">Parrafo</th>
                                        <th scope="col">Parrafo 2</th>
                                        <th scope="col">Fondo</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="carruseles.length === 0">
                                        <td class="text-center" colspan="5"> No hay registros... </td>
                                    </tr>
                                    <tr *ngFor="let carrusel of carruseles">
                                        <td>
                                            <span class="round" [style]="'background: ' +carrusel.background">
                                                <img [src]="carrusel.img | imagen: 'carrusel'" alt="user" width="50">
                                            </span>
                                            
                                        </td>
                                        <td scope="row"> {{ carrusel.titulo }} </td>
                                        <td>{{ carrusel.parrafo }}</td>
                                        <td>{{ carrusel.parrafotow }}</td>
                                        <td> 
                                            <span class="badge" [style]="'background: ' +carrusel.background"> {{carrusel.background}} </span>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-wrap">                                            
                                                <button (click)="statusCarrusel(carrusel)" type="button" class="btn btn-sm color-white" [ngClass]="{'btn-success': carrusel.status, 'btn-dark': !carrusel.status}" >
                                                    <i class="ti ti-power-off"></i>
                                                </button>
                                                <a (click)="deleteCarrusel(carrusel.carid)" class="btn btn-sm btn-icon btn-pure btn-outline text-danger delete-row-btn">
                                                    <i class=" ti-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->